<div class="container">
  <img src="{{essay?.picture}}" class="pic">
  <h2>{{essay?.tname}}</h2>
  <div class="div1">
    <img  src="{{essay?.headPortrait}}" class="headp">
  
    <span class="left">{{essay?.name}}编辑于{{essay?.time}}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;
      阅读量{{essay?.reading}}
    </span>
  </div>
  <span class="intro">{{essay?.introduce}}</span>
</div>