page-set {
    .toolbar-title-md {
        width: 150px;
    }
    .list-md {
        margin-top: 20px;
    }
    ion-list{
        line-height: 44px;
    }
    .button-full-md{
        background-color: #ffdb2c;
        color: black;
    }
}
