page-about {
    .subtitle{
        img{
            width: 100%;
        }
    }
    .navList{
        padding-left: 0;
        margin: -4px;
        height: 44px;
        line-height: 44px;
        .first{
            background-color:  #ffdb2c;
        }
        li{
            size: 40px;
            height: 44px;
            text-align: center;
            float: left;
            width: 20%;
        }
    }
    span{
        width: 100%;
        height: 30px;
        text-align: center;
        p{
            margin:4px 0;
        }
    }
    .goods{
        img{
            width: 100%;
        }
        ion-col{
            position:relative;
            .more{
                width: 100%;
                height: 20px;
                text-align: right;
            }
        }
    }
}
